<div class="section section-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 text-center">
        <h2 class="title">Trending Repositories</h2>
        <p class="description">
          This is a very basic app, and has a unique purpouse, that is find and show trending repositories.
          You can choose between the languages below:
        </p>
        <div>
          <% languages.each do |lang| %>
            <%= link_to lang, search_repositories_path(language: lang), class: 'btn btn-outline-danger btn-round' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
